@import "tailwindcss";
@import "./theme.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

* {
  border-color: var(--border);
}

button,
input,
textarea,
select {
  font: inherit;
}

:where(
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  strong,
  label,
  button,
  input,
  textarea,
  select,
  option,
  table,
  th,
  td,
  a
) {
  font-weight: 400 !important;
}
